<h1>All restaurants</h1>
<% @restaurants.each do |restaurant| %>
  <h4><%= link_to restaurant.name, restaurant_path(restaurant) %></h4>
  <p><%= restaurant.address %></p>
  <p><%= restaurant.category %></p>
<% end %>
